<header>
  <nav class="navbar  navbar-dark bg-dark">
    <a class="navbar-brand font-weight-bold" style="color:#fff" onmouseout="this.style.color='#fff'" onmouseover="this.style.color='#5DBCD2'"> <img class="logo" src="../../assets/img/Logo.png" height="40"> BLUE Player</a>
    <form class="form-inline">
      <input name="search"  class="form-control mr-sm-2" id="busqueda" type="search" name="search" placeholder="Search" aria-label="Search">
      <button routerLink="/videos" (click)="ActiveSearch(); onSubmit(); onSelectionN()" class="btn btn-info my-2 my-sm-0 text-light" type="submit">Search</button>
    </form>
  </nav>
  </header>
  
  <div *ngIf="!showLogo">
    <app-header></app-header>
  </div>
  